{% block content %}
    <h1>An unexpected error has occurred</h1>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
   <p>Bug Report Basics  
    -----------------  
    ​<br>
    In order to be actionable, a beta bug report needs to answer the following questions\:  
    ​<br>
    1\. What were you doing at the time?  
    ​<br>
    This should be at the level of mouse clicks, keystrokes, menu  
    commands, and button presses -- whichever is most descriptive to the  
    issue.  
    ​<br>
    2\. What did you expect to happen in response to your actions?  
    ​<br>
    3\. What \*actually\* happened; and how was this different from your expectation?  
    ​<br>
    ​<br>
    General Guidelines  
    ------------------  
    ​<br>
    1\. Don't assume we can see what's happening on your screen, or  
    that we can read your mind. Tell us everything that happened in  
    BBEdit during the process of encountering the bug.  
    ​<br>

    2\. Be as descriptive as possible, without editorializing. Sticking  
    to the facts will help us get to the bottom of the issue more  
    quickly.  
    ​<br>
    3\. If you're reporting a cosmetic issue, please include a screen  
    shot. It should include the entire affected window; but if you  
    feel the need to crop it, please do so -- as long as we can see  
    the relevant part.  
    ​<br>
    4\. If you are reporting a syntax coloring issue or something  
    related to text processing, a screen shot alone is insufficient.  
    Many issues are dependent on the data with which you're working.  
    ​<br>
    For example, syntax coloring or function listing bugs require the  
    exact source file. Bug reports involving Grep patterns require  
    the file on which you're working and the Grep pattern.  
    ​<br>
    Your data may be reduced as much as you like, as long as you're  
    still able to duplicate the symptom.  
    ​<br>
    5\. Everything you send us is confidential, and will only be used  
    to reproduce the issue being reported.  
    ​<br>
    6\. Please send all supporting materials as Zipped attachments  
    \(multiple files in a single Zip archive are fine\). This includes  
    crash logs sent directly to us via email.  
    ​<br>
    7\. If a crash occurs, please use the built-in crash reporter \(not  
    Apple's\). Provide your email address and a description as to what  
    was going on at the time, following the guidelines above.  
    ​<br>
    8\. Please do \*NOT\* send videos, GIFs, screen recordings, or links to  
    any such, whether to supplement or in lieu of a bug report.  
    ​</p>
{% endblock %}