{% extends "admin.html" %}

{% block content %}
<form action="" method="post" novalidate>
<div>
    <p>Modify Drink</p>
    <p> You are able to modify what flavors, temperatures, and other options are avalible each drink, as well as the description and price for that drink here.     </p>
    <p>{{ modifyDrinkForm.drink.label }} {{ modifyDrinkForm.drink }}</p>
    <p>{{ modifyDrinkForm.flavor.label }} {{ modifyDrinkForm.flavor(rows=4, multiple=True) }}</p> <!--this adds the weird drop down part-->
    <p>{{ modifyDrinkForm.temp.label }} {{ modifyDrinkForm.temp(rows=2, multiple=True) }}</p> 
    <p>{{ modifyDrinkForm.caffeine.label }} {{ modifyDrinkForm.caffeine(rows=2, multiple=True) }}</p>
    <p>{{ modifyDrinkForm.description.label }} {{ modifyDrinkForm.description}}</p>  
    <p>{{ modifyDrinkForm.price.label }} {{ modifyDrinkForm.price}}</p>  
    <p>{{ modifyDrinkForm.submit }}</p><br>
    </div>
</form>
{% endblock %}