<!doctype html>
<html lang="en">
{% block html %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta http-equiv='refresh' content='30';url=url_for('barista') />
        <title> {{ title }} </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        
        <style>
          body{margin: 10px;
              color: #104fb5;
            }
        </style>

    </head>
    <body>
       
        <h1> NNHS Half Caf Barista</h1>

        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.barista') }}">Orders</a>

                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.baristaCompleted') }}">Completed Orders</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                  </li>

                  {% if order_time %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.disable') }}">Disable</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.enable') }}">Enable</a>
                  </li>           
                  {% endif %}   
                  
            </ul>
          </div>
        </nav>
        {% endblock %}
        
        <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Room Number</th>
              <th scope="col">Teacher</th>
              <th scope="col">Drinks</th>
              <th scope="col">Temp</th>
              <th scope="col">Decaf</th>
              <th scope="col">Flavors</th>
              <th scope="col">Special Instructions</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Finished</th>
            </tr>
          </thead>
          <tbody>
          {% for o in order_list_complete %}
            <tr>
              <th scope="col">{{ o[2] }}</th>
              <th scope="col">{{ o[0] }}</th>
              <th scope="col">
                {% for d in o[1] %}
                    <p> {{ d[0] }} </p>
                {% endfor %}</th>
              <th scope="col">
                {% for d in o[1] %}
                    <p> {{ d[1] }} </p>
                {% endfor %}</th>
              <th scope="col">
                {% for d in o[1] %}
                    {% if d[0] == True %}
                        <p> Decaf </p>
                    {% else %}
                        <p> Regular </p>
                    {% endif %}
                {% endfor %}</th>
              <th scope="col">
                {% for d in o[1] %}
                    <p> {{ d[3] }} </p>
                {% endfor %}</th>
              <th scope="col">
                {% for d in o[1] %}
                    <p> {{ d[4] }}  </p>
                {% endfor %}</th>
              <th scope="col"> <p> {{ o[3] }} </p> </th>
              <th scope="col"> <form action="" method="post" novalidate>
              <button type="submit" id="id_{{o[4]}}" name="mark_incomplete" value="{{o[4]}}">Mark Incomplete</button> </form> </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        
    </body>

{% endblock %}
